ZONE_ID=
RECORD_ID=
TOKEN=
IPCHECKER='ifconfig.me/ip'
# IPCHECKER='icanhazip.com'
# IPCHECKER='https://api.ipify.org'
# IPCHECKER='checkip.amazonaws.com'
# IPCHECKER='httpbin.org/ip'    # return json
